

body {
    background-color: lightcyan;
    color:black;
    text-align: center
   }

   #food{
    width: 40em;
    border-radius: 15px;
    border: 4px solid crimson
   }
.welcome {
    text-decoration: underline overline;
     letter-spacing: 10px;
     font-size: 60px;
     padding-top: 5%;
     padding-bottom: 5%
}

/* STYLE NAV BAR */
ul{
    list-style-type: none;
    background-color: rgb(192, 80, 136);;
    overflow: hidden;
    padding: 1em
  }
  li{
  display: inline;
  }
  
  li a{
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  }